h2{
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(255, 255, 255);
}

h3{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(255, 255, 255);    
    margin-block: 10px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(255, 255, 255);    
    margin-block: 10px; 
}

#clubHeader{
    background-color: #222e50;
    color: white;
    padding: 10px;
    width: 50%;
    border-radius: 20px;
}

#clubInfo{   
    width: 100%;
    margin: 30px;
    padding: 20px;    

    display: flex;
    flex-flow: row wrap;
    justify-content: center;


}

#clubPlayersD{
    background-color: #222e50;
    color: white;
    border-radius: 25px;
    margin: 5px;
    padding-block:15px;
    min-width:300px;



    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
#clubPlayersD div{
    width: 80%;
    background-color: #182341;
    margin: 2px;
    border-radius: 10px; 
    padding: 5px;
}

#clubPlayersD div:hover{
    background-color: #121828;
    width:90%;
}

#clubPlayersD h3{
    text-align: left;
    font-size: 1rem;
    margin-top:0px;
}

#clubPlayersD p{
    text-align: left;
    font-size: 0.9rem;
    padding:0px;
    margin: 1px;
}




#otherD{
    margin:10px;
    display: flex;
    flex-direction: column;
}

#clubFinanceD{
    background-color: #222e50;
    color: white;
    border-radius: 25px;
    margin-bottom: 5px;
    padding:5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#clubFinanceD table{
    width: 90%;
}
#clubFinanceD table th{
    text-align: center;
    background-color: #182341;
    padding: 10px;
    border-radius: 10px;
}
#clubFinanceD table td{
    text-align: center;
    background-color: #182341;
    padding: 3px;
    border-radius: 10px;
}


#clubTransfers{
    background-color: #222e50;
    color: white;
    border-radius: 25px;
    margin-block: 5px;
    padding:5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}